# Ignore data files
data/simulations/*/*
data/analysis/**
*.h5
*.hdf5
# but never experiment files
!data/simulations/*/experiment.yml

# Ignore notebook outputs
notebooks/*.json
notebooks/*.html
notebooks/*.pdf
notebooks/*.csv

# Ignore untitiled notebooks
Untitled*

# Ignore python files
.pytest_cache
*.pyc

# Ignore log files
*.log

# Ignore generated pdf files
figures/thesis/*.pdf
